

* {
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    background: var(--hd-ft-clr);
    box-shadow: 1px 1px 5px var(--shdw-clr);
    z-index: 1;
}

header .logo {
    font-size: 1.5em;
    user-select: none;
}

header .logo span {
    color: var(--txt-icon-clr);
}


header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin: 0 1.5em;
}

header ul li a {
    position: relative;
    text-decoration: none;
    font-size: 1.2em;
    color: var(--txt-icon-clr);
}

header ul li a::after {
    position: absolute;
    content: " ";
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    background-color: var(--txt-icon-clr);
}

header ul li a:hover::after {
    transform: scaleX(1);
}

header .hamburger {
    padding: 0.2em;
    margin: 0.5rem;
    font-size: 1.2em;
    display: none;
    border: 1px solid black;
}

.bar {
    width: 100%;
    height: auto;
    margin: 0 0 2rem 0;
    background: var(--bg-clr);
}

.bar-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(5, 1fr);
}

.bar a {
    margin: 1rem;
    font-size: 1rem;
    font-weight: 550;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    font-family: var(--heading-font);
}

.active1 {
    color: var(--txt-icon-clr);
}

.grid {
    display: grid;
    gap: 2rem;

}




.card-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    margin: 1rem;
    padding: 1rem;
    background: var(--bg-clr);
    border: 1px solid var(--brdr-clr);
    box-shadow: 1px 1px 5px var(--shdw-clr);

}

.card-pic {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-pic img {
    max-width: 100%;
}

.card-heading {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-family: var(--heading-font);
}

.card-para {
    margin-top: .5rem;
    font-size: 1.1rem;
    color: var(--para-clr);
    text-transform: lowercase;
    font-family: var(--para-font);
}

.card-btn {
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.1rem;
    padding: 0.5rem;
    border: 1px solid black;
    background-color: #fff;
}

.card-btn a {
    color: #000;
    text-decoration: none;
    font-family: var(--para-font);
}

.footer {
    margin: 2rem 0 0 0;
    padding: 1rem 2rem;
    text-align: center;
    background: var(--hd-ft-clr);
    box-shadow: 1px 1px 5px var(--shdw-clr);
}

.section-footer-grid {
    grid-template-columns: repeat(3, 1fr);
}

.footer-div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer p {
    margin-top: 1rem;
    text-transform: capitalize;
    color: var(--para-clr);
}

.footer-div a {
    text-decoration: none;
    padding: 0.3rem 0;
    color: var(--txt-icon-clr);
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons a {
    text-decoration: none;
    margin: 0 0.5rem;
    padding: 0.3rem;
    font-size: 2em;
    color: var(--txt-icon-clr);
}

.footer-icons a:hover {
    transform: translateY(-3px);
}



